.carImageBack {
	position: absoulte;
	width: 50%;
	height: 40vh;
	margin: 30vh 25%;
	background-image: url('../image/retroMain3.png');
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}