.slide
	.slide__container
		- var titleYearNumber = ["1", "9", "0", "7"];
		.titleYearBackground
			for name in titleYearNumber
				.titleYearBackground__numberYearBox
					.numberYearItem= name
		.carImageSideways
		.brandNameOfTheCarContainer
			p.brandNameOfTheCarContainer__title { OLDS }