#counts.slide
	.slide__container
		.modelNameOfTheCarContainer
			p.modelNameOfTheCarContainer__title MODEL H-1907
		.carImageFront
		.numbersContainer
			#counter.numbersContainer__numberBlock
				.numberCountItem.number_count_liters(data-num="11.6")
				.aboutNumberCountItem LITERS
			#counter.numbersContainer__numberBlock
				.numberCountItem.number_count_money(data-num="4800")
				.aboutNumberCountItem COST / $
			#counter.numbersContainer__numberBlock
				.numberCountItem.number_count_hp(data-num="60")
				.aboutNumberCountItem HP